<p style="color: green"><%= notice %></p>

<%= render @nuevo %>

<div>
  <%= link_to "Editar", edit_nuevo_path(@nuevo) %> |
  <%= link_to "Volver", nuevos_path %>

  <%= button_to "Destruir", @nuevo, method: :delete %>
</div>
